<p style="color: green"><%= notice %></p>

<%= render @livro %>

<div>
  <%= link_to "Editar essa review", edit_livro_path(@livro) %> |
  <%= link_to "Voltar às reviews", livros_path %>

  <%= button_to "Deletar essa review", @livro, method: :delete %>
</div>
